header.nav-bar {
  z-index: $index-2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background: $bg-white;
  @include flexBox(center, center);
  border-bottom: 1px solid $border-color;
  .container {
    width: 95%;
    height: 100%;
    @include flexBox(center, space-between);
    i {
      cursor: pointer;
    }
    a.insta {
      img {
        width: 103px;
      }
    }
    .search-div {
      position: relative;
      width: 215px;
      height: 28px;
      padding: 0 5px;
      border: 1px solid $border-color;
      background: $body-bg;
      @include flexBox(center, center);
      .search-icon {
        pointer-events: none;
        opacity: 0.5;
      }
      input {
        width: 40%;
        transition: 0.3s;
        height: 100%;
        border: none;
        padding: 0 5px;
        background: none;
        outline: none;
        color: $primary-color;
        &::placeholder {
          color: $secondary-color;
        }
        &:focus {
          width: 90%;
        }
      }
    }
    nav {
      @include flexBox(center, auto);
      gap: 20px;
      i {
        font-size: 23px;
        a {
          color: $primary-color;
        }
      }
      .avatar {
        position: relative;
        overflow: hidden;
        width: 23px;
        height: 23px;
        background: $bg-transparent;
        border-radius: 50%;
        transition: 0.2s;
        cursor: pointer;
        img {
          pointer-events: none;
        }
      }
      .avatar.true {
        box-shadow: 0 0 0 2px $bg-white, 0 0 0 3px $primary-color;
      }
    }
    .profile-dropdown {
      position: relative;
      width: 100%;
      max-width: 237px;
      display: flex;
      flex-direction: column;
      position: absolute;
      right: -2.2%;
      top: 100%;
      background: $bg-white;
      border-radius: 6px;
      box-shadow: $light-shadow;
      z-index: $index-2;
      .span {
        position: absolute;
        top: -5px;
        right: 25px;
        width: 15px;
        height: 15px;
        filter: drop-shadow(-1px -1px 1px rgba(0, 0, 0, 0.07));
        transform: rotateZ(45deg);
        &:before {
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          background: $bg-white;
          clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 50%);
        }
      }
      a,
      p {
        position: relative;
        width: 100%;
        padding: 10px 16px;
        @include flexBox(center, flex-start);
        gap: 10px;
        font-size: $font-size-default;
        color: $primary-color;
        text-transform: capitalize;
        text-decoration: none;
        span {
          font-size: 20px;
          width: 20px;
          height: 20px;
        }
        &:hover {
          background-color: $hover-bg;
        }
      }
      a:first-child {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }
      p {
        border-top: 2px solid $border-color;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }
}
