@import './base';
@import './nav-bar';
@import './register';
@import './profile';
@import './edit';
@import './add';
@import './home';
@import './alert';
@import './media';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  :after,
  :before {
    box-sizing: border-box;
  }
}
html {
  @include scrollbar(10px, $hover-bg, $bg-transparent, 0px);
}
body {
  background: $body-bg;
  color: $primary-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  @include scrollbar(5px, $hover-bg, $border-color, 40px);
}
main.body {
  padding: 55px 0 15px 0;
}
div.container {
  position: relative;
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}
.page-loading {
  width: 100%;
  height: 100vh;
  background: $body-bg;
  @include flexBox(center, center);
  img {
    width: 100px;
    filter: saturate(0);
    opacity: 0.4;
  }
}
i {
  cursor: pointer;
}
.spin {
  height: 20px;
  &:disabled {
    opacity: 0.7;
  }
}
.spin.middle {
  height: 25px;
}
.spin.large {
  height: 30px;
}
.button.styled,
button.styled {
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  color: $bg-white;
  font-size: $font-size-default;
  font-weight: 600;
  background: $default-blue;
  border: none;
  padding: 0 10px;
  min-width: 60px;
  height: 30px;
  transition: 0.2s;
  &:hover {
    filter: brightness(0.8);
  }
  &:active {
    filter: brightness(1);
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
button.link {
  cursor: pointer;
  font-size: $font-size-default;
  text-transform: capitalize;
  font-weight: 600;
  color: $default-blue;
  border: none;
  background: none;
  outline: none;
  &:disabled {
    opacity: 0.3;
  }
}
.styled.white {
  height: 30px;
  padding: 0 10px;
  background: none;
  border: 1px solid $border-color;
  border-radius: 6px;
  text-decoration: none;
  font-size: $font-size-default;
  font-weight: 600;
  color: $primary-color;
  @include flexBox(center, center);
}
.checkmark {
  font-size: $font-size-big;
  margin: 0 0 0 5px;
}
// post
article.post {
  position: relative;
  width: 600px;
  margin: 30px auto 0 auto;
  background: $bg-white;
  border: 1px solid $border-color;

  .post-header {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    @include flexBox(center, space-between);
    .post-header-left {
      position: relative;
      @include flexBox(center, flex-start);
      gap: 15px;
      .avatar-circle {
        position: relative;
        overflow: hidden;
        width: 30px;
        height: 30px;
        background: $bg-transparent;
        border: 1px solid $border-color;
        border-radius: 50%;
      }
      p {
        font-size: $font-size-default;
        font-weight: 600;
      }
    }
    .post-header-dots {
      * {
        pointer-events: none;
      }
    }
    .post-dropdown {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: $index-3;
      background: $bg-white;
      box-shadow: $light-shadow;
      margin: 0 15px 0 0;
      border-radius: 3px;
      width: 130px;
      overflow: hidden;
      li {
        list-style: none;
        font-size: $font-size-default;
        padding: 10px 15px;
        @include flexBox(center, flex-start);
        gap: 10px;
        cursor: pointer;
        &:hover {
          background: $hover-bg;
        }
      }
    }
  }
  .upload-img {
    position: relative;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 400px;
    cursor: pointer;
    overflow: hidden;
    .double-click-heart {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include flexBox(center, center);
      color: $bg-white;
      font-size: $font-size-monster;
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
    }
  }
  section.no-pad-b {
    padding: 15px 15px 0 15px;
  }
  section {
    padding: 15px;
    .post-action {
      @include flexBox(center, flex-start);
      gap: 10px;
      i {
        font-size: $font-size-huge;
      }
      i.liked {
        color: $error-color;
      }
    }
    .post-info {
      font-size: $font-size-default;
      .post-likes {
        margin-bottom: 8px;
      }
      .post-caption {
        span {
          color: $secondary-color;
          cursor: pointer;
        }
      }
      .show-all-comments {
        color: $secondary-color;
        margin: 4px 0;
      }
      .post-comments {
        position: relative;
        max-height: 200px;
        overflow-y: auto;
        .a-comment {
          margin: 0 0 5px 0;
        }
      }
      .post-date {
        color: $secondary-color;
        text-transform: uppercase;
        margin: 8px 0;
        font-size: $font-size-tiny;
      }
    }
  }
  .write-comment {
    width: 100%;
    height: 56px;
    border-top: 1px solid $border-color;
    @include flexBox(center, space-between);
    padding: 0 15px;
    gap: 15px;
    i {
      font-size: $font-size-huge;
      cursor: pointer;
    }
    input {
      flex: 1 1 auto;
      border: none;
      outline: none;
    }
  }
}
footer.copyright {
  margin: 15px 0 10px 0;
  p {
    text-transform: uppercase;
    color: $secondary-color;
    opacity: 0.5;
    font-size: 11px !important;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include flexBox(center, center);
  background: $bg-transparent;
  z-index: $index-1;
  .modal-content {
    width: 100%;
    max-width: 300px;
    background: $bg-white;
    box-shadow: $light-shadow;
    @include flexBox(center, auto);
    flex-direction: column;
    .avatar-preview {
      position: relative;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: $bg-transparent;
      margin: 20px 0;
      overflow: hidden;
    }
    ul {
      position: relative;
      width: 100%;
      li {
        width: 100%;
        border-top: 1px solid $border-color;
        text-align: center;
        list-style: none;
        padding: 10px 16px;
        font-size: $font-size-big;
        transition: 0.3s;
        cursor: pointer;
        label {
          display: block;
        }
        &:hover {
          background: $hover-bg;
        }
      }
    }
  }
}
img.user-avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
.post-actions {
  float: right;
  margin: 10px 10px 0 0;
  background: $bg-white;
  box-shadow: $light-shadow;
  border: 1px solid $border-color;
  @include flexBox(center, auto);
  width: min-content;
}
.close-btn {
  background: none;
  border: none;
  color: $primary-color;
  font-size: $font-size-huge;
  cursor: pointer;
}
.viewing_post {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $index-1;
  background: $bg-transparent;
  backdrop-filter: blur(10px);
}
