@import './base';
@import './nav-bar';
@import './register';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  :after,
  :before {
    box-sizing: border-box;
  }
}
body {
  background: $body-bg;
  color: $primary-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
